.nav li a {
	margin: 10px 10px 0px 0px;
}
.nav li a:hover {
	/*background: #f00;*/
	color: #000000;
}
.header {
	background: url(../../images/header.png) bottom;
	height: 60px;
	position: absolute;
	top: 0px; right: 0px; left: 0px;
}
.logo {
	height: 60px;
	margin: 0px 20px 0px 70px;
	width: 220px;
	background: url(../../images/logo2.png) no-repeat left center;
	float: left;
}
.sidebar {
	border-right: 1px solid #fff;
	padding: 40px 0px 0px 50px;
}
.content {
	margin: 40px 0px 0px 0px;
}
.login input.span3 {
	margin: 0px 0px 10px 0px;
	width: 190px;
}
.container {
	width: 820px;
}
.avatar-small {
	width: 50px;
	height: 50px;
}
.userbox .username, .userbox .media-grid {
	float: left;
	line-height: 56px;
	margin-right: 10px;
	font-size: 20px;
}
.userbox a, .userbox a:hover {
	color: #404040;
	text-decoration: none;
}
.tabs li.active a, .tabs li.active a:hover {
	background-color: #eeeeee;
	color: #404040;
}
textarea {
	resize: none;
}
.uneditable-input {
	background: none;
}
.avatarform img {
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	margin: 0px 10px 0px 0px;
}

.share-button {
	border-left: none;
	
	-webkit-border-radius: 0px 4px 4px 0px;
  	-moz-border-radius: 0px 4px 4px 0px;
  	border-radius: 0px 4px 4px 0px;
  	height: 28px;
}
.share-url {
	-webkit-border-radius: 4px 0px 0px 4px;
  	-moz-border-radius: 4px 0px 0px 4px;
  	border-radius: 4px 0px 0px 4px;
}
.upload-iframe {
	/*display: none;*/
}

body {
	padding-top: 60px;
	background-color: #eeeeee;
}